.*.sw?
pkg
.rspec_system
.vagrant
.bundle
vendor
Gemfile.lock

# ignore Intellij project files
/*.iml
.idea

spec/fixtures
!spec/fixtures/hiera.yaml
!spec/fixtures/hieradata/*

log/
junit/

.ruby-version
